{% extends 'layouts/main.html' %}
{% block content %}

<div class="contacts-th">
  <i class="fas fa-id-card"></i>
  <span>Contacts</span>
</div>
<div class="contacts-table">
  <table>
    <tr>
      <td>
        <i class="fab fa-github contacts-item"></i>
        <a href="https://github.com/jubnzv">jubnzv</a>
      </td>
      <td>
        <i class="fab fa-stack-overflow contacts-item"></i>
        <a href="https://stackoverflow.com/users/8541499/jubnzv">jubnzv</a>
      </td>
      <td>
        <i class="fab fa-keybase contacts-item"></i>
        <a href="https://keybase.io/jubnzv"> jubnzv</a>
      </td>
    </tr>
    <tr>
      <td>
        <i class="fab fa-reddit contacts-item"></i>
        <a href="https://www.reddit.com/user/jubnzv">jubnzv</a>
      </td>
      <td>
        <i class="fab fa-linkedin contacts-item"></i>
        <a href="https://www.linkedin.com/in/jubnzv/">jubnzv</a>
      </td>
      <td>
        <i class="fab fa-telegram contacts-item"></i>
        <a href="https://t.me/jubnzv">jubnzv</a>
      </td>
    </tr>
    <tr>
      <td>
        <i class="fas fa-envelope contacts-item"></i>
        <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#106;&#117;&#098;&#110;&#122;&#118;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"
          >jubnzv аt gmail.cоm</a
        >
      </td>
    </tr>
  </table>
</div>

</p>

<div class="contacts-th">
  <i class="fas fa-key"></i>
  <span>PGP signature</span>
</div>
<div class="contacts-pgp">
    <textarea rows="9">
-----BEGIN PGP PUBLIC KEY BLOCK-----
mDMEXfH8nhYJKwYBBAHaRw8BAQdAwjFldwc2zmDSqntCdkwTaq0O7klvYiSRURAE
XmCveFy0IUdlb3JneSBLb21hcm92IDxqdWJuenZAZ21haWwuY29tPoiWBBMWCAA+
FiEEYN4vcQ5zfh7UzVldGVuGIv6I7UYFAl3x/J4CGwMFCQlmAYAFCwkIBwIGFQoJ
CAsCBBYCAwECHgECF4AACgkQGVuGIv6I7Ua3GgD8DtFr050dCBdJdid0M83GovZW
wmSPNbMxsInrzyHmAh4A/1sKhNKIWa0obZ1LARxa8KAoPd3+tIeziTbjfgNVR8kO
uDgEXfH8nhIKKwYBBAGXVQEFAQEHQNp2Ix2fZdXHpzuPkz4AIXMkM0biZoOPAbsP
DFLSN3UMAwEIB4h+BBgWCAAmFiEEYN4vcQ5zfh7UzVldGVuGIv6I7UYFAl3x/J4C
GwwFCQlmAYAACgkQGVuGIv6I7UYINAEApeFngCOFC6xcvPbCaWc/cNoKhtQrN4i9
NzYsZRhCm9gBAKk8Ryrj7sBqBccd6CD/J6v26rfWH54/hduH9REe4c8M
=U/ZX
-----END PGP PUBLIC KEY BLOCK-----
    </textarea>
</div>

{% endblock %}
